<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-05-20T18:01:40Z</date>
	<key>WorkspacePath</key>
	<string>/Users/manishparihar/Desktop/CodeBox/Playground2026/mp_git_user/MPGitUserShowCase/MPGitUserShowCase.xcodeproj</string>
</dict>
</plist>
